/* Dashboard */
body{
    margin: 0;
    padding: 0;
    background: gray;
    background-size:cover;
    background-position:center;
    font-family:sans-serif;
}

.subbutton:hover{background-color:rgb(255, 16, 16);}
.subbutton1:hover{background-color:rgb(16, 255, 36);}

.lat{
    margin-top: 40px;
    font-size: large;
    text-align: center;

}



.subbutton{
    background-color: black;
    width: 200px;
    height: 40px;
    color: white;
}

.subbutton1{
    margin-top: 4%;
    background-color: black;
    width: 200px;
    height: 40px;
    color: white;
}

.part1{
    float: left;
    width: 25%;

}

.part2{
    float: left;
    width: 75%;
    margin: auto;
  
}
