/* Dashboard */
body{
    margin: 0;
    padding: 0;
    background: gray;
    background-size:cover;
    background-position:center;
    font-family:sans-serif;
}

.lat{
    margin-top: 40px;
    font-size: large;
    text-align: center;

}

.subbutton{
    font-size: large;
    margin-top: 50px;
    margin-bottom: 20px;
}

.subbutton{
    background-color: black;
    width: 200px;
    height: 40px;
    color: white;
}

.part1{
    float: left;
    width: 25%;

}

.part2{
    float: left;
    width: 75%;
    margin: auto;
  
}
