.first{
    color: white;
    float: left;
    background-color: black;
    width: 50%;
}

.second{
    color: black;
    float: right;
    background-color: whitesmoke;
    width: 50%;
}

.pdetails{
    margin:auto;
    text-align:center;
}

.sdetails{
    margin:auto;
    text-align:center;
}

.pf{
    width: 50%;
    height: 50px

}

/* .form1{
    border: 1px solid white;
}
.form2{
    border: 1px solid black;
} */

.button{
    background-color:yellow;
    height:50px;
}

.button1:hover{background-color:orange;}

.button1:focus{background-color:rgb(71, 240, 71);}
 
 
/* *************************************************************************************************** */

/* Forthpage CSS */

.fbutton1{
    background-color:black;
    height:60px;
    width:200px;
    color:white;
    margin: 4%;
    margin-top: 5%;
}

.fbutton2{
    background-color:black;
    height:60px;
    width:200px;
    color:white;
    margin: 4%;
}

.fbutton3{
    background-color:black;
    height:60px;
    width:200px;
    color:white;
    margin: 4%;
}

.fbutton4{
    background-color:black;
    height:60px;
    width:100px;
    color:white;
    margin-left: 25%;
    border-radius: 10%;
}


.fbutton1:hover{background-color:rgb(28, 202, 255);}
.fbutton2:hover{background-color:rgb(255, 238, 2);}
.fbutton3:hover{background-color:rgb(16, 128, 255);}
.fbutton4:hover{background-color:rgb(255, 16, 16);}


.fbutton1:focus{background-color:rgb(94, 255, 30);}
.fbutton2:focus{background-color:rgb(248, 121, 1);}
.fbutton3:focus{background-color:rgb(255, 0, 0);}


.float-container {
    border: 3px solid #fff;
    padding: 20px;
}

.float-child1{
    width: 30%;
    float: left;
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    margin-left: 2%;
}  

.float-child2 {
    background-color: rgb(0, 0, 0);
    width: 65%;
    float: left;
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    margin-left: 2%;
}  

.float-child3{
    width: 47%;
    float: left;
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    margin-left: 2%;
    margin-top: 5%;
}  

.float-child4{
    width: 47%;
    float: left;
    padding: 10px;
    border: 2px solid rgb(0, 0, 0);
    margin-left: 2%;
    margin-top: 5%;

}  

