.first{
    color: white;
    float: left;
    background-color: black;
    width: 50%;
}

.second{
    color: black;
    float: right;
    background-color: whitesmoke;
    width: 50%;
}

.pdetails{
    margin:auto;
    text-align:center;
}

.sdetails{
    margin:auto;
    text-align:center;
}

.pf{
    width: 50%;
    height: 50px

}

.form1{
    border: 1px solid white;
}
.form2{
    border: 1px solid black;
}

.button{
    background-color:yellow;
    height:50px;
}

button:hover{background-color:orange;}

button:focus{background-color:rgb(71, 240, 71);}

