.lname {
  width: 105px;
  height: 48px;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  font-weight: bold;
  color: #042a73;
}

.angle {
  position: absolute;
  width: 386px;
  height: 452px;
  left: 52px;
  top: 300px;
  background: #c4c4c436;
  border-radius: 10px;
}

.graphs {
  position: absolute;
  width: 658px;
  height: 452px;
  left: 487px;
  top: 300px;
  background: #c4c4c436;
  border-radius: 10px;
}

.imgclass {
  border-radius: 50%;
  width: 38%;
  margin-left: 45%;
}

.play{
width: 154px;
height: 75px;
background: hsl(18, 84%, 59%);
border-radius: 15px;
border: none;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.graph1{

height: 310px;
background: #FFFFFF;
border-radius: 10px;
float: left;
width: 45%;
margin-left: 3%;
}

.graph2{
  height: 310px;
  background: #FFFFFF;
  border-radius: 10px;
  float: right;
  width: 45%;
  margin-right: 3%;
  }

    .anglediv{
      width: 180px;
    height: 50px;
    background: white;
    border-radius: 6px;
    border: none;
    margin-left: 46%;
    margin-top: 82%;
    padding: 2%;
    

    }

@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Light.woff);
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
}

* {
  font-family: Poppins;
}

@font-face {
  font-family: Poppinsdark;
  src: url(fonts/Poppins-Medium.woff);
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
}

@font-face {
  font-family: Poppinsbold;
  src: url(fonts/Poppins-Bold.woff);
  font-style: normal;
  font-weight: 600;
}
