
.Loginbtn {
  position: absolute;
  width: 240px;
  height: 60px;
  top: 62%;
  left: 9%;
  font-family: Poppinsdark;
  background: #042a73;
  border-radius: 14px;
  font-size: large;
  color: white;
  border: 2px solid #042a73;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.regbtn {
  position: absolute;
  width: 240px;
  height: 60px;
  top: 82%;
  left: 9%;
  font-family: Poppinsdark;
  background: #042a73;
  border-radius: 14px;
  font-size: large;
  color: white;
  border: 2px solid #042a73;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.logo{
  position: absolute;
  width: 27%;
  left: 5%;
  top: 6%;

}
.photo{
  position: absolute;
  width: 15%;
  top: 29%;
  left: 10%;

}
.div1 {
  position: absolute;
  width: 761.5px;
  height: 578px;
  left: 635px;
  top: 150;
  background: #ee723d;
  box-shadow: -22px -13px 4px rgba(0, 0, 0, 0.1);
  border-radius: 97px 0px 0px 97px;
}
.div2 {
  position: absolute;
  width: 711.5px;
  height: 578px;
  left: 49px;
  top: 49px;
  background: #ed672d;
  border-radius: 97px 0px 0px 97px;
}
.div3 {
  position: absolute;
  width: 663px;
  height: 578px;
  left: 49px;
  top: 49px;
  background: #eb5e22;
  border-radius: 97px 0px 0px 97px;
}
.ptag {
  position: absolute;
  width: 514px;
  height: 348px;
  left: 99px;
  top: 119px;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 54px;

  color: #ffffff;
}

@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Light.woff);
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
}

* {
  font-family: Poppins;
}

@font-face {
  font-family: Poppinsdark;
  src: url(fonts/Poppins-Medium.woff);
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
}

@font-face {
  font-family: Poppinsbold;
  src: url(fonts/Poppins-Bold.woff);
  font-style: normal;
  font-weight: 600;
}
