input[type=range] {
  height: 32px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 13px;
  cursor: pointer;
  background: linear-gradient(90deg, #20F30E 0%, rgba(101, 186, 93, 0.685543) 27.33%, #00E9F8 44.72%, rgba(107, 203, 209, 0.72) 67.6%, rgba(254, 12, 12, 0.72) 77.51%, #F70000 100%);
  border-radius: 25px;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  border: #8A8A8A;
  height: 38px;
  width: 10px;
  border-radius: 55px;
  background: #C4C4C4;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -13px;
}
/* input[type=range]:focus::-webkit-slider-runnable-track {
  background: #B6B6B6;
} */
/* input[type=range]::-moz-range-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  box-shadow: 0px 0px 0px #000000;
  background: #B6B6B6;
  border-radius: 25px;
  border: 1px solid #8A8A8A;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
} */
/* input[type=range]::-ms-track {
  width: 100%;
  height: 16px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
} */
/* input[type=range]::-ms-fill-lower {
  background: #B6B6B6;
  border: 1px solid #8A8A8A;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #B6B6B6;
  border: 1px solid #8A8A8A;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000;
} */
/* input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 1px 1px 1px #828282;
  border: 1px solid #8A8A8A;
  height: 24px;
  width: 35px;
  border-radius: 6px;
  background: #DADADA;
  cursor: pointer;
} */
/* input[type=range]:focus::-ms-fill-lower {
  background: #B6B6B6;
}
input[type=range]:focus::-ms-fill-upper {
  background: #B6B6B6;
} */