
.lname {
    width: 105px;
    height: 48px;
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
    font-weight: bold;
    margin-left: 2%;
    color: #042a73;
  }

  .select {
   margin-top: 18%;
  }

.select1 {
    width: 20%;
    height: 300px;
    margin-left: 15%;
    margin-bottom: 2%;
    background: rgba(194, 164, 164, 0.25);
    border-radius: 47px;
    float: left;
  }

  
.imgclass {
  border-radius: 50%;
  width: 38%;
  margin-bottom: 10%;
}


  .select2 {
    width: 20%;
    height: 300px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    background: rgba(194, 164, 164, 0.25);
    border-radius: 47px;
    float: left;
  }

  .select3 {
    width: 20%;
    height: 300px;
    margin-bottom: 2%;
    background: rgba(194, 164, 164, 0.25);
    border-radius: 47px;
    float: left;
  }
  

  .imgclass {
    border-radius: 50%;
    width: 40%;
    margin-top: 20%;
  }
  
  
@font-face {
    font-family: Poppins;
    src: url(fonts/Poppins-Light.woff);
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
  }
  
  * {
    font-family: Poppins;
  }
  
  @font-face {
    font-family: Poppinsdark;
    src: url(fonts/Poppins-Medium.woff);
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 54px;
  }
  
  @font-face {
    font-family: Poppinsbold;
    src: url(fonts/Poppins-Bold.woff);
    font-style: normal;
    font-weight: 600;
  }
  