.part1{
    float: left;
    width: 50%;

}

.part2{
    float: right;
    width: 50%;
     margin: auto;
}
.button1{
    background-color: black;
    width: 400px;
    height: 70px;
    color: white;
}
.button2{

    background-color: black;
    width: 400px;
    height: 70px;
    color: white;
}
.input1{
    height: 70px;
    width: 70px;
    border-radius: 20%;
    margin-top: 1%;
    margin-right: 4%;
    text-align: center;

}
.input2{
    height: 70px;
    width: 70px;
    border-radius: 20%;
    margin-top: 1%;
    text-align: center;
}

.input3{
  height: 70px;
  width: 70px;
  border-radius: 20%;
  margin-top: 1%;
  margin-right: 4%;
  text-align: center;

}
.input4{
  height: 70px;
  width: 70px;
  border-radius: 20%;
  margin-top: 1%;
  text-align: center;
}




/* .button{
  background-color:yellow;
  height:50px;
}

button:hover{background-color:orange;}

button:focus{background-color:rgb(71, 240, 71);} */


  .profileimg{
    width: 3%;
    transition: transform .2s;
  }
  

  
  
  .navbar{
    
    height:70px;
    background:rgb(0, 0, 0);
    color:#fff;
    opacity: 0.9;
    box-sizing: border-box;
    padding: 1%;
  }
  

  .sidenav {
    height: 100%;
    width: 0%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0.8;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 8%;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: rgb(69, 193, 241);
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  
   
    /* The Modal (background) */
    .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      padding-top: 100px; /* Location of the box */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }
    
    /* Modal Content */
    .modal-content {
      position: relative;
      background-color: #fefefe;
      margin: auto;
      padding: 0;
      border: 1px solid #888;
      width: 80%;
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
      -webkit-animation-name: animatetop;
      -webkit-animation-duration: 0.4s;
      animation-name: animatetop;
      animation-duration: 0.4s
    }
    
    /* Add Animation */
    @-webkit-keyframes animatetop {
      from {top:-300px; opacity:0} 
      to {top:0; opacity:1}
    }
    
    @keyframes animatetop {
      from {top:-300px; opacity:0}
      to {top:0; opacity:1}
    }
    
    /* The Close Button */
    .close {
      color: white;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
      color: rgb(255, 255, 255);
      text-decoration: none;
      cursor: pointer;
    }
    
    .modal-header {
      padding: 2px 16px;
      background-color: #5cb85c;
      color: white;
    }
    
    .modal-body {padding: 2px 16px;}
    
    .modal-footer {
      padding: 2px 16px;
      background-color: #5cb85c;
      color: white;
    }
  
   
  
  
  .loginbox p{
    margin:0;
    padding-bottom: 3%;
  }
  
  .loginbox input[type="text"], input[type="password"], input[type="number"], input[type="email"],input[type="date"]
  {
  
    background: transparent; 
    /* border-radius: 20px; */
    height: 30px;
    font-size: 10px;
  }
  
 
  .loginbox a{
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
  color: darkgrey;
  }
  

 
