.loginbox {
  width: 360px;
  height: 680px;
  background: #c4c4c436;
  color: #fff;
  opacity: 0.9;
  top: 49%;
  left: 23%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 40px 40px;
  position: absolute;
  border-radius: 60px;
}

.lname {
  width: 105px;
  height: 48px;
  margin-left: 3%;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
  font-weight: bold;
  color: #042a73;
}

.signupbutton {
  width: 275px;
  height: 36px;
  margin-top: 13px;
  background: #ee723d;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  color: white;
  font-size: 20px;
  margin-bottom: 29px;
  box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.4);
  border: 2px solid #ee723d;
}

.forgot {
  font-family: poppins;
  margin-left: 30%;
  margin-top: 10px;
}

.dna {
  font-family: Poppins;
  margin-left: 14%;
}

.textfield1 {
  border-radius: 15px;
  border: 2px;
  padding: 20px;
  width: 200px;
  height: 15px;
}

.textfield2 {
  border-radius: 15px;
  border: 2px;
  padding: 20px;
  width: 200px;
  height: 15px;
}

.logoclass {
  width: 70%;
}
.drowclass {
  width: 3.5%;
}

.imgclass {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
}

.loginbox p {
  margin: 0;
  padding-bottom: 3%;
}

.loginbox input {
  width: 100%;
  margin-bottom: 15px;
}

.loginbox input[type="text"],
input[type="password"],
input[type="number"],
input[type="email"],
input[type="date"] {
  background: transparent;
  height: 30px;
  font-size: 10px;
}

.loginbox a {
  text-decoration: none;
  font-size: 12px;
  line-height: 20px;
}

.loginbox a:hover {
  color: #11100e;
  text-align: center;
}

.forgot {
  font-family: poppins;
  margin-left: 29%;
  margin-top: 20px;
  color: gray;
}

.dna {
  font-family: Poppins;
  margin-left: 12%;
  color: gray;
}

@font-face {
  font-family: Poppins;
  src: url(fonts/Poppins-Light.woff);
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 54px;
}

* {
  font-family: Poppins;
}
