
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}"></link>

        <title>
            
            Successful

        </title>
        <body>
            <div>
                <center><img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" height="100">
                <h3>Login Successful</h3>
                <h4>{{user}}</h4>
                      <a href="/" >
                      <button type="submit" name="logout">Log out</button>
                      </a>
                </center>
                <br>
                <div>
                    <center>
                    <form class="submitform" method="post" action="">
                        <!-- <input type="text" class="lat"  name="value1" placeholder="value1" align="middle" required><br>
                        <input type="text" class="lat"  name="value2" placeholder="value2" required><br> -->
                        <button class="subbutton">Submit</button>

                    </form>
                </center>
                <div>
                    <center>
                        <div >
                            <h3>Value1 ={{value1db}} </h3>
                            <h3>Value2 ={{value2db}} </h3>

                        </div>
                    </center>
                </div>
                </div>

            </div>
        </body>
    </head>
</html>

