<!DOCTYPE html>
<html>

<head>
  <title>Patient Details</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
  <script src="{{ url_for('static', filename='js/Supporting_docs/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/Supporting_docs/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/form.js') }}"></script>
</head>
<body>

  <script>

window.onload = check;

function check() 
    {

      let a = "{{selectbtn}}";

      if (a == "Passive") {
        document.getElementById("btn1").focus();
      }
      if (a == "Freedrive") {
        document.getElementById("btn2").focus();
      }
      if (a == "Active isotonic") {
        document.getElementById("btn3").focus();
      }
      if (a == "Active isometric") {
        document.getElementById("btn4").focus();
      }
      if (a == "cctive isokinetic") {
        document.getElementById("btn5").focus();
      }
    }
      

    function passive() {

      document.getElementById("btnselect").value = "Passive";
    }

    function passive1() {

      document.getElementById("btnselect").value = "Freedrive";
    }

    function passive2() {

      document.getElementById("btnselect").value = "Active isotonic";
    }

    function passive3() {

      document.getElementById("btnselect").value = "Active isometric";
    }
    function passive4() {

      document.getElementById("btnselect").value = "Acctive isokinetic";
    }
  

  </script>
   <!-- drawer -->
  
   <div id="mySidenav" class="sidenav">
    <a style="text-decoration: none;" href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div style=" margin:4%; opacity:100%">
      <a style="text-decoration: none;" href="login">Login</a>
    </div>
    <div style=" margin:4%;">
      <a style="text-decoration: none;" href="/">Home</a>
    </div>
    <div style="margin:4%;">
      <a  style="text-decoration: none;" href="details">Details</a>
    </div>
    <div style="margin:4%;">
      <a style="text-decoration: none;" href="select">Select</a>
    </div>
    <div style="margin:4%;">
      <a style="text-decoration: none;" href="information">Info</a>
    </div>
  </div>
<!-- navbar -->
<div class="navbar" style="padding-top: 0.4%; padding-left:3%; padding-bottom: 7.6%;">
  <div style="float: left; width: 25%; padding-top: 0.4%;" >
    <span onclick="openNav()">
      <img  src="{{ url_for('static', filename='images/drow.png') }}" alt="img" style="width: 11%;"></span>
  </div>

  <div style="float: left; width: 50%;"> 
    <center>
    <h6 class="lname">Details</h6>
  </center>
  </div>

  <div style="float: right; width: 25%; padding-top: 0.5%;">
    <img  src="{{ url_for('static', filename='images/logo.png') }}" alt="img" style="width: 60%; margin-left: 40%;"></span>
  </div>
</div>
  <div style="float: left; width: 25%; padding-top: 0.4%; position: absolute; left: 5%; top: 16%;">
      <a href="details">
        <span>
          <img src="{{ url_for('static', filename='images/back.png') }}" alt="img" style="width: 9.0%;"></span></a>
    </div>
  <form class="form1" method="post">
    <!-- first -->
    <div class="first">
      <center>
      <img src="{{ url_for('static', filename='images/Profileimg.png') }}" alt="img" class="imgclass"></center>
      <p style="color:black; font-size: small; margin-left: 13%; margin-top: 10%; margin-bottom: 3.5%;" >Name</p>
      <center>
      <input type="text" value="{{uname}}" class="textfield1" style="margin-top: -5%; background: rgba(196, 196, 196, 0.36);" name="uname" id="iname" placeholder="Name" required>
      </center>
      <p style="color:black; font-size: small; margin-left: 13%; margin-bottom: 3.5%; margin-top: 5%;">Age</p>
      <center>
      <input type="number" value="{{uage}}" class="textfield1" style="margin-top: -5%; background: rgba(196, 196, 196, 0.36);" name="uage" id="iage" placeholder="Age (year)" required>
      </center>
      <p style="color:black; font-size: small; margin-left: 13%; margin-bottom: 3.5%;margin-top: 5%;" >Weight</p>
      <center>
      <input type="number" class="textfield1" style="margin-top: -5%; background: rgba(196, 196, 196, 0.36);" name="uweight" value="{{uweight}}" id="iweight" placeholder="Weight (kg)" required>
      </center>

      <p style="color:black; font-size: small;margin-left: 13%; margin-bottom: 3.5%;margin-top: 5%;">Height</p>
      <center>
      <input type="number" class="textfield1" style=" margin-top: -5%; background: rgba(196, 196, 196, 0.36);" name="uheight" value="{{uheight}}" id="iheight" placeholder="Height (cm)" required>
      </center>
      <input name="selectbtn" value="{{selectbtn}}" type="hidden" placeholder="btn" type="text" id="btnselect">

    </div>

    <div class="vl"></div>
    <!-- Second -->
    <div class="second">

      <h1 class="sdetails" style="font-family: Poppinsdark; margin-top: 10%;font-size: 150%;">Type of Treatment</h1>
      <center>
        <div style="margin: auto; margin-top: 5%;">
          <button id="btn1" type="button" onclick="passive()" name="button" value="Passive" class="button1" style="margin-top: 6%;">Passive</button>
          <br>
          <br>
          <button type="button" onclick="passive1()" id="btn2" class="button1">Freedrive</button>
          <br>
          <br>
          <button type="button" onclick="passive2()" id="btn3" class="button1">Active isotonic</button>
          <br>
          <br>
          <button type="button" onclick="passive3()" id="btn4" class="button1">Active isometric</button>
          <br>
          <br>
          <button type="button" onclick="passive4()" id="btn5" class="button1">Active isokinetic</button>
          <br>
          <br>
      </center>
      <div style="margin-top: 4%;">
        <div>
          <center>
          <button class="confirm">Confirm</button>
        </center>
        </div>
      </div>

    </div>
    </div>
  </form>
  </div>
</body>

</html>