<!DOCTYPE html>
<html>

<head>
  <title>Patient Details</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
  <script src="{{ url_for('static', filename='js/Supporting_docs/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/Supporting_docs/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/form.js') }}"></script>
</head>
<body>

   <!-- drawer -->
  
   <div id="mySidenav" class="sidenav">
    <a style="text-decoration: none;" href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div style=" margin:4%; opacity:100%">
      <a style="text-decoration: none;" href="login">Login</a>
    </div>
    <div style=" margin:4%;">
      <a style="text-decoration: none;" href="/">Home</a>
    </div>
    <div style="margin:4%;">
      <a  style="text-decoration: none;" href="details">Details</a>
    </div>
    <div style="margin:4%;">
      <a style="text-decoration: none;" href="select">Select</a>
    </div>
    <div style="margin:4%;">
      <a style="text-decoration: none;" href="information">Info</a>
    </div>
  </div>
<!-- navbar -->
<div class="navbar" style="padding-top: 0.4%; padding-left:3%; padding-bottom: 6.6%;">
  <div style="float: left; width: 25%; padding-top: 0.4%;" >
    <span onclick="openNav()">
      <img  src="{{ url_for('static', filename='images/drow.png') }}" alt="img" style="width: 9.0%;"></span>
  </div>

  <div style="float: left; width: 50%;"> 
    <h6 class="lname">Details</h6>
  </div>

  <div style="float: right; width: 25%; padding-top: 0.5%;">
    <img  src="{{ url_for('static', filename='images/logo.png') }}" alt="img" style="width: 60%; margin-left: 40%;"></span>
  </div>
</div>

  <form class="form1" method="post">
    <!-- first -->
    <div class="first">
      <img src="{{ url_for('static', filename='images/Profileimg.png') }}" alt="img" class="imgclass">

      <label for="fname" style="margin-top: 50%; margin-left: 20%;font-family: Poppins;">Name</label>
      <center>
        <input type="text" value="{{uname}}" class="textfield1"  id="iname" name="uname"
          placeholder="Name">
        <br>
      </center>
      <label for="fage" style=" margin-left: 20%;font-family: Poppins;">Age</label>
      <center>
        <input value="{{uage}}"class="textfield1" type="text" id="iage" name="uage" v
          placeholder="Age  (Years)">
        <br>
      </center>
      <label for="fweight" style=" margin-left: 20%;font-family: Poppins;">Weight</label>
      <center>
        <input class="textfield1" value="{{uweight}}"  type="text" id="iweight" name="uweight"
          placeholder="Weight (Kg)">
        <br>
      </center>
      <label for="fheight" style=" margin-left: 20%;font-family: Poppins;">Height</label>
      <center>
        <input class="textfield1" value="{{uheight}}"  margin-bottom: 16.5%;" type="text"
          id="iheight" name="uheight" placeholder="Height (cm)">
        <br>
      </center>
      <br>
      <input name="selectbtn" value="{{selectbtn}}" type="hidden" placeholder="btn" type="text" id="btnselect">

    </div>
    <!-- Second -->
    <div class="second">

      <h1 class="sdetails" style="margin-top: 10%;font-size: medium;">Type Of Treatment</h1>
      <center>
        <div style="margin: auto; margin-top: 5%;">
          <button id="btn1" type="button" onclick="passive()" name="button" value="Passive" class="button1" style="margin-top: 6%;">Passive</button>
          <br>
          <br>
          <button type="button" onclick="passive1()" id="btn2" class="button1">Freedrive</button>
          <br>
          <br>
          <button type="button" onclick="passive2()" id="btn3" class="button1">Active isotonic</button>
          <br>
          <br>
          <button type="button" onclick="passive3()" id="btn4" class="button1">Active isometric</button>
          <br>
          <br>
          <button type="button" onclick="passive4()" id="btn5" class="button1">Active isokinetic</button>
          <br>
          <br>
      </center>
      <div style="margin-top: 0%;">
        <div>
          <button class="confirm">Confirm</button>
        </div>
      </div>

    </div>
    </div>
  </form>
  </div>
</body>

</html>