<!DOCTYPE html>
<html>
<head>
    <title>Information</title>
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='css/bootstrap.css') }}" ></link>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/graphs.css') }}"></link>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <style>
            
      .navbar img:hover{
        transform: scale(1.1);

      }
    </style>
</head>
<body>

   <!-- drawer -->
  
   <div id="mySidenav" class="sidenav">
    <a style="text-decoration: none;" href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div style=" margin:4%; opacity:100%">
      <a style="text-decoration: none;" href="login">Login</a>
    </div>
    <div style=" margin:4%;">
      <a style="text-decoration: none;" href="/">Home</a>
    </div>
    <div style="margin:4%;">
      <a  style="text-decoration: none;" href="details">Details</a>
    </div>
    <div style="margin:4%;">
      <a style="text-decoration: none;" href="select">Select</a>
    </div>
    <div style="margin:4%;">
      <a style="text-decoration: none;" href="information">Info</a>
    </div>
  </div>

<script>
  function openNav() {
    document.getElementById("mySidenav").style.width = "350px";
  }

  function closeNav() {
   document.getElementById("mySidenav").style.width = "0";
  }
  </script>

<!-- button of drawer -->
<!-- navbar -->
<div class="navbar">
  <span style="transition: transform .2s;font-size:30px;cursor:pointer;color: white;" onclick="openNav()">&#9776;</span>
  <h6 name="username">Information</h6>
</div>

<script>
  function myprofile(clr) {
    location.href = clr;
  }
</script>

    <div>
        <button type="fbutton1" class="fbutton1">Play</button>
        <button type="fbutton2" class="fbutton2"> Pause</button>
        <button type="fbutton3" class="fbutton3">stop</button>
        <a href="login">
        <button type="fbutton4" style="margin-left: 18%;" class="fbutton4">Logout</button>
      </a>

    </div>
  
    <hr style="color: black; background-color: black;">
    <br>

    <script src="/static/js/Supporting_docs/jquery.min.js"></script>
    <script src="/static/js/Supporting_docs/highchart.js"></script>
    <script src="/static/js/Supporting_docs/highcharts-more.js"></script>
    <script src="/static/js/Supporting_docs/exporting.js"></script>
    <script src="/static/js/getdata1.js"></script>
    <script src="/static/js/getdata.js"></script>
    <div class="float-container">

        <div class="float-child1" style="background-color: black; color: aliceblue; margin-bottom: 10%;">
          <div class="green">
          <p>
              <center><b>Angle Of Device</b>
          </p>
          <h3 style="margin-top:50%;">Angle 30<span>&#176;</span></h3></center>
          
          </div>
        </div>
        
        <div class="float-child2" style="color: aliceblue; padding-bottom: 1.3%;">
          <div class="blue"><center><b>Graphs</b></center></div>
          
          <div class="float-child3">
              
            <div class="container-fluid">
                 
              <div class="row">
    
                  <div class="container-fluid" id="data-container"></div>
    
              </div>
          </div>

          </div>
          <div class="float-child4">
           
            <div class="container-fluid">
                 
              <div class="row">
    
                  <div class="container-fluid" id="data-container1"></div>
    
              </div>
          </div>

          </div>
          <div class="float-child3">
            <div class="container-fluid">
                 
              <div class="row">
    
                  <div class="container-fluid" id="data-container2"></div>
    
              </div>
          </div>
        </div>
        <div class="float-child4">
         
          <div class="container-fluid">
                 
            <div class="row">
  
                <div class="container-fluid" id="data-container3"></div>
  
            </div>
        </div>

        </div>
        </div>
        
      </div>


</body>
</html>