<!DOCTYPE html>
<html>
<head>
    <title>FourthPage Details</title>
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='css/bootstrap.css') }}" ></link>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css') }}"></link>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/select.css') }}"></link>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    
</head>
<body>
    <div>
        <button type="fbutton1" class="fbutton1">Play</button>
        <button type="fbutton2" class="fbutton2"> Pause</button>
        <button type="fbutton3" class="fbutton3">stop</button>
        <button type="fbutton4" class="fbutton4">Logout</button>

    </div>
    <div class="float-container">

        <div class="float-child1">
          <div class="green">
          <p>
              Angle Of Device
          </p>
          <h3>Angle 30<span>&#176;</span></h3>

          </div>
        </div>
        
        <div class="float-child2">
          <div class="blue">Graphs</div>
          <div class="float-child3">
              hello1
          </div>
          <div class="float-child4">
            hello2
          </div>
          <div class="float-child3">
            hello3
        </div>
        <div class="float-child4">
          hello4
        </div>
        </div>
        
      </div>


</body>
</html>