<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/graphs.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/navbar.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/input.css') }}">
  <!-- <script src="{{ url_for('static', filename='js/Supporting_docs/jquery.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/Supporting_docs/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/form.js') }}"></script>
  <link rel="icon" href="{{ url_for('static', filename='images/logo1.png') }}" type="image/x-icon" />
<link rel="shortcut icon" href="{{ url_for('static', filename='images/logo1.png') }}" type="image/x-icon" />
</head>
<title>Control Panal</title>

<body>
  <!-- drawer -->

  <!-- Myprofile drawer -->

  <link rel="stylesheet" href="{{ url_for('static', filename='css/myprofilenav.css') }}">

  <div id="myPronav" class="divnav">
    <div style=" margin:4%;">
      <a style="text-decoration: none;" href="dashboard">
        <center>
          <button class="buttonnav">Profile</button>
        </center>
      </a>
    </div>
    <div style="margin:4%;">
      <a style="text-decoration: none;" href="/">
        <center>
          <button class="buttonnav2">Logout</button>
        </center>
      </a>
    </div>
    <div style="margin:4%;">
      <a onclick="closeProNav()" style="text-decoration: none; cursor: pointer;">
        <center>
          <button class="buttonnav3">Close</button>
        </center>
      </a>
    </div>
  </div>

  <script>
    function openProNav() {
      document.getElementById("myPronav").style.width = "120px";
    }

    function closeProNav() {
      document.getElementById("myPronav").style.width = "0";
    }
  </script>

  <div id="mySidenav" class="sidenav" style="height: 370px; top: 105px;">
    <div style=" margin:4%;">
      <a style="text-decoration: none;" href="/">Home</a>
    </div>
    <div style="margin:4%;">
      <a style="text-decoration: none;" href="details">Details</a>
    </div>
    <div style="margin:4%;">
      <a style="text-decoration: none;" href="select">Inputs</a>
    </div>
    <div style="margin:4%;">
      <a style="text-decoration: none;color: #EE723D;" href="information">Graphs</a>
    </div>
    <div style=" margin:4%;">
      <a style="text-decoration: none; cursor: pointer;" onclick="closeNav()">Close</a>
    </div>
  </div>

  <script>
    function openNav() {
      document.getElementById("mySidenav").style.width = "236px";
    }

    function closeNav() {
      document.getElementById("mySidenav").style.width = "0";
    }
  </script>
  <!-- button of drawer -->
  <div class="navbar" style="padding-top: 1%; padding-left:3%; padding-bottom: 7.6%;">
    <div style="float: left; width: 25%; padding-top: 0.4%;">
      <span onclick="openNav()">
        <img src="{{ url_for('static', filename='images/drow.png') }}" alt="img" style="width: 11%;"></span>
    </div>

    <div style="float: left; width: 50%;">
      <center>
        <h6 class="lname">Information</h6>
      </center>
    </div>

    <div style="float: right; width: 25%; padding-top: 1%;">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="img"
        style="width: 60%; margin-left: 40%;"></span>
    </div>
  </div>
  <br>
  <!-- button of drawer -->
  <div class="navbar"
    style="padding-top: 0.4%; padding-left:3%; padding-bottom: 6.6%; background-color: white; opacity: 100%;">
    <div style="float: left; width: 15%; padding-top: 0.4%;">
      <a href="{{back}}">
        <span>
          <img src="{{ url_for('static', filename='images/back.png') }}" alt="img"
            style="width: 15%; margin-left: 16%;"></span></a>
    </div>

    <div style="float: left; width: 70%;">
      <div style="float: left; width: 25%;">
        <button onclick="play()" type="button" class="play"><b style="color: white; font-weight: 500;
            font-size: 24px;
            line-height: 36px;">Play</b></button>
      </div>
      <div style="float: left; width: 25%;  padding-left: 5%;">
        <button onclick="pause()" type="button" class="play"><b style="color: white; font-weight: 500;
          font-size: 24px;
          line-height: 36px;">Pause</b></button>
      </div>
      <div onclick="stop()"  style="float: left; width: 25%;padding-left: 10%;">
        <button type="button" class="play"><b style="color: white; font-weight: 500;
          font-size: 24px;
          line-height: 36px;">Stop</b></button>
      </div>
    </div>
    <div style="float: right; width: 15%; padding-top: 0.5%;">
      <a style="cursor: pointer; text-decoration: none;" onclick="openProNav()">
        <img src="{{ url_for('static', filename='images/Profileimg.png') }}" alt="img" class="imgclass"></a>

    </div>
  </div>

  <div class="angle">

    <!-- Angle -->

    <center>
      <p style="
        width: 156px;
        height: 36px;;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        color: #000000;margin-top: 6%;">Device Angle</p>
    </center>

    <div>
      <center>
        <svg width="300" height="300" viewBox="0 0 476 476" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M440.797 237.617C440.797 349.408 350.173 440.032 238.383 440.032C126.592 440.032 35.9678 349.408 35.9678 237.617C35.9678 125.827 126.592 35.2026 238.383 35.2026C350.173 35.2026 440.797 125.827 440.797 237.617ZM130.325 237.617C130.325 297.296 178.704 345.675 238.383 345.675C298.061 345.675 346.44 297.296 346.44 237.617C346.44 177.939 298.061 129.56 238.383 129.56C178.704 129.56 130.325 177.939 130.325 237.617Z" fill="url(#paint0_linear_32_25)" fill-opacity="0.7"/>
          <line y1="236.5" x2="476" y2="236.5" stroke="white" stroke-width="3"/>
          <line x1="239.5" y1="6.54293e-08" x2="239.5" y2="476" stroke="white" stroke-width="3"/>
          <line x1="239.975" y1="235.879" x2="362.879" y2="110.025" stroke="red" stroke-width="3" stroke-linecap="round"/>
          <defs>
          <linearGradient id="paint0_linear_32_25" x1="238.383" y1="35.2026" x2="238.383" y2="440.032" gradientUnits="userSpaceOnUse">
          <stop stop-color="#00BEFA"/>
          <stop offset="1" stop-color="#8EFF84"/>
          </linearGradient>
          </defs>
          </svg>
        
        </center>
        
    </div>

    <div style=" margin-top: 5%; float: left; width: 40%; margin-left: 0%; font-family: Poppinsbold; font-weight: 600; font-size: 18px;">
            
      <div class="inputrep1">

        <center>
          <p style="
              width: 40px;
              height: 40px;;
              font-family: Poppins;
              font-style: normal;
              font-weight: normal;
              font-size: 20px;
              line-height: 40px;
              color: #000000;margin-top: 0%;" id="repetition"><b>0</b></p>
        </center>
      </div>
    
      <div style=" width: 26%; height: 40px; border-radius: 50%; background-color: red; float: right; margin-right: 11%; font-family: Poppinsbold; font-weight: 600; font-size: 18px;" id="break">
            
      
      </div>
    </div>

  </center>

    <div class="anglediv">
      <center>
        <p style="
            width: 156px;
            height: 36px;;
            font-family: Poppins;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 36px;
            color: #000000;margin-top: 0%;" id="angle">Angle = <b>30°</b></p>
    </div>
    </center>

  </div>
  <script src="/static/js/Supporting_docs/jquery.min.js"></script>
  <script src="/static/js/Supporting_docs/highchart.js"></script>
  <script src="/static/js/Supporting_docs/highcharts-more.js"></script>
  <script src="/static/js/Supporting_docs/exporting.js"></script>
  <script src="/static/js/getdata.js"></script>

 <!-- <div class="graphs"> -->

  <!-- <div class="graphs" id="data-container"> -->
    <!-- Graphs -->
    <div class="graphs"> 
    <center>
      <p style="
        width: 156px;
        height: 36px;;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 36px;
        color: #000000;margin-top: 2%;">Graphs</p>
    </center>

    <div id="graph1" style="float: left; width: 100%; overflow: hidden; position: absolute;">
        <div class="graph1" id="data-container"></div>
        <div class="graph2" id="data-container1"></div>
    </div>

    <!-- <div id="graph2" style="float: left; width: 100%; overflow: hidden;  position: absolute;">
        <div class="graph1"  id="data-container2"></div>
        <div class="graph2"  id="data-container3"></div>
    </div> -->

    <!-- <script>

       function slidenext() {
      document.getElementById("graph1").style.width = "100%";
      document.getElementById("graph2").style.width = "0";

    }

    function slideprv() {
      document.getElementById("graph2").style.width = "100%";
      document.getElementById("graph1").style.width = "0";
    }
    </script>
      <div style="margin-top: 7%;">
        <div style="float: left; width: 50%;">
          <button onclick="slidenext()" class="sliderbtn"></button>
        </div>
        <div style="float: right; width: 50%;">
          <button onclick="slideprv()" class="sliderbtn1"></button>
        </div>
      </div> -->
<script>
     function play()
    {
        // send a request, but don't refresh page
        xhttp = new XMLHttpRequest();
        xhttp.open("GET", "play", true);
        xhttp.send();
    }

    function stop()
    {
        // send a request, but don't refresh page
        xhttp1 = new XMLHttpRequest();
        xhttp1.open("GET", "stop", true);
        xhttp1.send();
    }
    function pause()
    {
        // send a request, but don't refresh page
        xhttp1 = new XMLHttpRequest();
        xhttp1.open("GET", "pause", true);
        xhttp1.send();
    }
</script>
  </div>
</body>

</html>