<html>

<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
  <script src="{{ url_for('static', filename='js/Supporting_docs/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='js/Supporting_docs/bootstrap.bundle.min.js') }}"></script>
  <link rel="icon" href="{{ url_for('static', filename='images/logo1.png') }}" type="image/x-icon" />
<link rel="shortcut icon" href="{{ url_for('static', filename='images/logo1.png') }}" type="image/x-icon" />
</head>
<title>Home</title>


<body>
    <div>
     <img src="{{ url_for('static', filename='images/logo.png') }}" alt="img"
          class="logo">
    </div>
    <div>
      <img src="{{ url_for('static', filename='images/photo1.png') }}" alt="img"
          class="photo">
        <br>
        <a href="login">
          <button type="button" class="Loginbtn">Login</button></a>
        <br>
        <a href="#">
          <button class="regbtn">Guest Mode</button></a>
    </div>

    <div class="div1">
      <div class="div2">
        <div class="div3">
          <p class="ptag">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque varius condimentum amet viverra sit in
            platea at.
          </p>
        </div>
      </div>
    </div>

</body>

</html>