
<html>
    <head>
        <title>login</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"></link>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
        
        <body>
            <div class="loginbox">
            <img src="{{ url_for('static', filename='images/Profileimg.png') }}" alt="img" class="imgclass">
            <h1>Login Here</h1>
            <form action="" name="login" method="post">
                <p>Username</p>
                <input type="text" class="w3-input w3-border w3-round"  name="username" placeholder="Enter Username" required>
                <p>Password</p>
                <input type="password" class="w3-input w3-border w3-round"  name="password" placeholder="Enter Password" required>
                <p style="text-align: center; font-size: x-small; color: red;"><b>{{message1}}</b></p>
                <a href="/successful">
                <input type="submit"  name="loginbtn" value="login">
                </a><br>
                <a href="">Lost your password?</a><br>
                <a href="signup.html">Don't have an account?</a>
            </form>
            </div>
          
        </body>
    </head>
</html>

