
<html>
    <head>
        <title>login</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"></link>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/select.css') }}"></link>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
        <script src="{{ url_for('static', filename='js/Supporting_docs/jquery.js') }}"></script>
        <script src="{{ url_for('static', filename='js/Supporting_docs/bootstrap.bundle.min.js') }}"></script>
        <title>Login</title>
        
        <body>
             <!-- drawer -->
  
             <div id="mySidenav" class="sidenav">
              <a style="text-decoration: none;" href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
              <div style=" margin:4%;">
                <a style="text-decoration: none;" href="dashboard.html">Dashboard</a>
              </div>
              <div style=" margin:4%; opacity:100%">
                <a style="text-decoration: none;" href="login.html">Login</a>
              </div>
              <div style=" margin:4%;">
                <a style="text-decoration: none;" href="/">Home</a>
              </div>
              <div style="margin:4%;">
                <a  style="text-decoration: none;" href="details.html">Details</a>
              </div>
              <div style="margin:4%;">
                <a style="text-decoration: none;" href="select.html">Select</a>
              </div>
            
            </div>
    
      <!-- button of drawer -->
      <!-- navbar -->
      <div class="navbar">
        <span style="transition: transform .2s;font-size:30px;cursor:pointer;color: white;" onclick="openNav()">&#9776;</span>
        <h6 style="margin: auto;">Login</h6>
      </div>
    
      <script>
        function myprofile(clr) {
          location.href = clr;
        }
      </script>
    <!-- drower+navbar -->
            <div class="loginbox">
            <img src="{{ url_for('static', filename='images/Profileimg.png') }}" alt="img" class="imgclass">
            <h1>Login Here</h1>
            <form action="" name="login" method="post">
                <p>Username</p>
                <input type="text" class="w3-input w3-border w3-round"  name="username" placeholder="Enter Username" required>
                <p>Password</p>
                <input type="password" class="w3-input w3-border w3-round"  name="password" placeholder="Enter Password" required>
                <p style="text-align: center; font-size: x-small; color: red;"><b>{{message1}}</b></p>
                <a href="/successful">
                <input type="submit"  name="loginbtn" value="login">
                </a><br>
                <a href="">Lost your password?</a><br>
                <a href="signup.html">Don't have an account?</a>
            </form>
            </div>
            <script>
                function openNav() {
                  document.getElementById("mySidenav").style.width = "350px";
                }
            
                function closeNav() {
                 document.getElementById("mySidenav").style.width = "0";
                }
                </script>
          
        </body>
    </head>
</html>

