<html>

<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signup.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <script src="{{ url_for('static', filename='js/Supporting_docs/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/Supporting_docs/bootstrap.bundle.min.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='images/logo1.png') }}" type="image/x-icon" />
<link rel="shortcut icon" href="{{ url_for('static', filename='images/logo1.png') }}" type="image/x-icon" />
</head>

<title>Signup</title>

<body>
    <!-- drawer -->

    <div id="mySidenav" class="sidenav">
        <div style=" margin:4%;">
          <a style="text-decoration: none;" href="/">Home</a>
        </div>
        <div style=" margin:4%; opacity:100%">
    
          <a style="text-decoration: none;" href="home">Home</a>
        </div>
        <div style=" margin:4%;">
          <a style="text-decoration: none; color: #EE723D;" href="list">List</a>
        </div>
        <div style=" margin:4%;">
          <a style="text-decoration: none; cursor: pointer;" onclick="closeNav()" >Close</a>
        </div>
      </div>
      <script>
        function openNav() {
          document.getElementById("mySidenav").style.width = "236px";
        }
    
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
        }
      </script>

    <!-- button of drawer -->
    <!-- navbar -->
    <div class="navbar" style="padding-top: 0.4%; padding-left:3%; padding-bottom: 7.6%;">
        <div style="float: left; width: 25%; padding-top: 1%;">
            <span onclick="openNav()">
                <img src="{{ url_for('static', filename='images/drow.png') }}" alt="img" style="width: 11%;"></span>
        </div>

        <div style="float: left; width: 50%;">
            <center>
                <h6 class="lname">Signup</h6>
            </center>
        </div>

        <div style="float: right; width: 25%; padding-top: 1%;">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="img"
                style="width: 60%; margin-left: 40%;"></span>
        </div>
    </div>
    <!-- drower+navbar -->

    <div style="float: left; width: 50%;">
        <a href="login">
            <span>
              <img src="{{ url_for('static', filename='images/back.png') }}" alt="img" style="width: 4%; margin-top: 6%; margin-left: 5%;"></span></a>
        <div class="loginbox" style="margin-top: 4%;">
            <form action="" name="login" method="post">
                <p style="color:black;font-size: small;">Username</p>
                <input type="text" class="textfield1" style="background: rgba(196, 196, 196, 0.36);" name="username"
                    placeholder="Enter Username" required>
                <p style="color:black;font-size: small;">Email</p>
                <input type="email" class="textfield2" style="background: rgba(196, 196, 196, 0.36);" name="email"
                    placeholder="Enter Email" required>
                    <p style="color:black;font-size: small;">Contact No.</p>
                <input type="text" class="textfield2" style="background: rgba(196, 196, 196, 0.36);" name="phone"
                    placeholder="Enter Contact No." required>
                <p style="color:black;font-size: small;">Address</p>
                <input type="text" class="textfield1" style="background: rgba(196, 196, 196, 0.36);" name="address"
                    placeholder="Enter Address" required>
                <p style="color:black;font-size: small;">Password</p>
                <input type="password" class="textfield2" style="background: rgba(196, 196, 196, 0.36);" name="password"
                    placeholder="Enter Password" required>
                <p style="color:black;font-size: small;">Confirm Password</p>
                <input type="password" class="textfield1" style="background: rgba(196, 196, 196, 0.36);" name="password1"
                    placeholder="Confirm Password" required>
                <p style="text-align: center; font-size: x-small; color: red;"><b>{{message1}}</b></p>
                <a href="login">
                    <button class="signupbutton">Signup</button>
                </a><br>
                <a style="text-decoration: none;" href="#" class="forgot">Forgot Password ?</a><br>
                <a href="login" style="text-decoration: none;" class="dna">Already have an account? <span
                        style="color: #EE723D;"><b>Login</b></span></a>
            </form>
        </div>
    </div>

    <div style="float: right; width: 50%;">

        <img src="{{ url_for('static', filename='images/signupphoto.png') }}" alt="img" style="margin-right: 0%; width: 90%; margin-top: 10%; margin-left:  10%;">

    </div>

</body>


</html>